table, th, td {
    /* justify-content: center; */
    /* text-align: center; */
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

